Repository gdscewha-3rd/Project-EwhaClub-Web, pull requests merged in 2022-06, with the labels that each got.

#25 Feature/clubcards : responsive CSS
  FrontEnd/ewhaclub/src/App.js
  FrontEnd/ewhaclub/src/components/category/index.jsx
  FrontEnd/ewhaclub/src/components/category/style.js
  FrontEnd/ewhaclub/src/components/clubcard/style.js
  FrontEnd/ewhaclub/src/components/clubcardList/index.jsx
  FrontEnd/ewhaclub/src/components/clubcardList/style.js
  FrontEnd/ewhaclub/src/components/searchinput/index.jsx
  FrontEnd/ewhaclub/src/components/searchinput/style.js
  FrontEnd/ewhaclub/src/constants/categories.js
  FrontEnd/ewhaclub/src/db/data.json
  FrontEnd/ewhaclub/src/pages/detail/index.js
  FrontEnd/ewhaclub/src/pages/main/index.js
  FrontEnd/ewhaclub/src/pages/result/index.js
Labels: :art: style

#31 회원가입 로직 구현
  FrontEnd/ewhaclub/package.json
  FrontEnd/ewhaclub/src/components/clubcardList/index.jsx
  FrontEnd/ewhaclub/src/components/common/clubcard/index.jsx
  FrontEnd/ewhaclub/src/components/common/clubcard/style.js
  FrontEnd/ewhaclub/src/components/common/clubcardList/index.jsx
  FrontEnd/ewhaclub/src/components/common/clubcardList/style.js
  FrontEnd/ewhaclub/src/components/common/searchinput/index.jsx
  FrontEnd/ewhaclub/src/components/common/searchinput/style.js
  FrontEnd/ewhaclub/src/components/signUp/signUpForm.js
  FrontEnd/ewhaclub/src/hooks/useInput.js
  FrontEnd/ewhaclub/src/pages/main/index.js
  FrontEnd/ewhaclub/src/pages/result/index.js
  FrontEnd/ewhaclub/src/pages/signUp/index.js
  FrontEnd/ewhaclub/yarn.lock
Labels: :smile: feature

#32 Feat : 404 page & Common Btn Component
  FrontEnd/ewhaclub/src/App.js
  FrontEnd/ewhaclub/src/apis/index.js
  FrontEnd/ewhaclub/src/apis/likes.api.js
  FrontEnd/ewhaclub/src/apis/postlike.api.js
  FrontEnd/ewhaclub/src/apis/signin.api.js
  FrontEnd/ewhaclub/src/asset/icons/bomi.svg
  FrontEnd/ewhaclub/src/asset/icons/index.js
  FrontEnd/ewhaclub/src/components/category/index.jsx
  FrontEnd/ewhaclub/src/components/common/button/index.jsx
  FrontEnd/ewhaclub/src/components/common/clubcard/index.jsx
  FrontEnd/ewhaclub/src/components/common/clubcard/style.js
  FrontEnd/ewhaclub/src/components/common/clubcardList/index.jsx
  FrontEnd/ewhaclub/src/components/common/input/index.jsx
  FrontEnd/ewhaclub/src/components/common/input/style.js
  FrontEnd/ewhaclub/src/components/common/searchinput/index.jsx
  FrontEnd/ewhaclub/src/components/common/searchinput/style.js
  FrontEnd/ewhaclub/src/components/error/errorDescription/index.jsx
  FrontEnd/ewhaclub/src/components/error/errorDescription/style.js
  FrontEnd/ewhaclub/src/components/error/errorImg/index.jsx
  FrontEnd/ewhaclub/src/components/error/errorImg/style.js
  FrontEnd/ewhaclub/src/components/error/index.js
  FrontEnd/ewhaclub/src/components/navbar/index.js
  FrontEnd/ewhaclub/src/pages/404/index.js
  FrontEnd/ewhaclub/src/pages/likes/index.js
  FrontEnd/ewhaclub/src/pages/main/index.js
  FrontEnd/ewhaclub/src/pages/result/index.js
  FrontEnd/ewhaclub/src/pages/signin/index.js
  FrontEnd/ewhaclub/src/utils/auth.js
  FrontEnd/ewhaclub/src/utils/requiredAuth.js
  FrontEnd/ewhaclub/src/utils/validation.js
Labels: :smile: feature, :art: style
